@font-face {
  font-family: 'CCBackBeat';
  src: url('/static/fonts/CCBackBeat-Light_5.ttf');
}

@font-face {
  font-family: 'Supercell';
  src: url('/static/fonts/Supercell-Magic_5.ttf');
}

body {
  background-color: #191919;
  color: #FFF;
  font-family: "Ubuntu", sans-serif;
  padding: 30px;
}

h1 {
  font-family: 'Supercell';
  color: #FFF;
}

h3 {
  font-family: 'CCBackBeat';
  color: #FFFEAD;
}

.navbar-default {
  background-color: #191919;
  border: 1px solid #000;
  box-shadow: inset 1px 0 0 #272727;
}

.navbar-default .navbar-brand {
  color: #FFF;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFEAD;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #202020;
  color: #FFFEAD;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #202020;
  color: #FFFEAD;
}

.navbar-default .navbar-nav > .active > a:hover {
  background-color: #202020;
  color: #FFFEAD;
}

.navbar-default .navbar-nav > .active > a:focus {
  background-color: #202020;
  color: #FFFEAD;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #202020;
  color: #FFFEAD;
}

.dropdown-menu {
  background-color: #191919;
  border: 1px solid #777;
}

.dropdown-menu > li > a {
  background-color: #191919;
  color: #FFF;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #202020;
  color: #FFF;
}

#main-content {
  margin-top: 30px;
}

#login-button {
  margin-top: 15px;
}

#war-bases {
  display: none;
}

#war-bases table tr td {
  border: 1px solid #000;
  box-shadow: inset 1px 0 0 #272727;
}

#error-modal {
  display: none;
}

div.modal {
  color: black;
}

#error-modal div.modal-body {
  color: red;
}

.dibbed {
  color: #FFFEAD;
}

.undibbed {
 font-style: italic;
}

.error-message {
  display: none;
  color: red;
}

.or-text {
  font-size: 1.4em;
  font-style: italic;
  margin-top: 20px;
}

.login-text {
  color: #FFFEAD;
  font-size: 1.2em;
}

.dark-text {
  color: #FFFEAD;
  font-size: 1.2em;
}

div.grey-text {
  color: #CCC;
  font-size: 1.2em;
}

#welcome {
  margin-top: 15px;
}
