{% extends "base.html" %}

{% block content %}
    <div class="row">
        <h1>Clan Expectations</h1>
    </div>
    <div class="row grey-text">
        <p>We want members to enjoy their time in clan chat as well as while playing the game. We expect members to respect one another. This means no cursing, or personal attacks on members.</p>

        <p>Donate only what is requested. When requesting, do not ask for levels so that all members can participate. (Exception made for war, where level 4 drags, 5/6 wizards 5/6 archers are used.)</p>

        <p>Donations are filled quickly in our clan. Leave your chat open for a better chance to donate.</p>

        <p>We like to help, especially new members and members with low level THs. We expect all members to at least keep a 1:2 ratio for donations and requests. For example, at least 100 donations for 200 requests, or 600 donations and 1200 requests.
        You can become an Elder by donating 500 troops in a season. We expect elders to at least donate 200 per season to maintain elder.</p>

        <p>We use the app <a href="https://groupme.com/">Groupme</a> for clan chat outside of Clash of Clans. It is available on <a href="https://play.google.com/store/apps/details?id=com.groupme.android&hl=en">Android</a> and <a href="https://itunes.apple.com/us/app/groupme/id392796698?mt=8">IOS</a>. Register with your Clash of Clans name, and an email address. Provide this info to a leader in Clash of Clans chat, and we will get you added to our chat group.</p>

        <p>If you are going to be away from Clash of Clans for a week or more, we would like for you to move your account to Cult Legion until you come back. That way we won’t be at a disadvantage during war.</p>
    </div>
{% endblock %}