{% extends "base.html" %}

{% block content %}
    <div class="row">
        <h1>War</h1>
    </div>
    <div class="row grey-text">
        <p>War search begins usually in the early afternoon on Friday (Eastern Standard time) and war begins Saturday.</p>

        <p>If you don’t want to participate in war, please let a leader know by Thursday at the latest. Leaders will kick you before war search, and invite you back after. In the event the clan is full, please join cult legion until Saturday and try again.
        All war participants are expected to attack twice. No attacks will result in demotion (if you are elder) or member being kicked.</p>

        <p>We have a <a href="http://dibbs.glenbot.com">dibbs site</a>. Please use it. Dibb a base you are pretty sure you can 3 star, and is at your town hall level or higher. Check the <a href="http://dibbs.glenbot.com">dibb website</a> before attack to be sure no one has dibbed the base. <strong><em>Refreshing your screen is advised</strong></em> as it is constantly being updated.</p>

        <p>We do have a war alliance with Seven Kingdoms. They are a continually warring clan. They send members over to top us up for our war. We have members that go to their clan when they wish to participate in war more often.</p>
    </div>
{% endblock %}