{% extends "base.html" %}

{% block content %}
    <div class="row">
        <h1>War Strategy</h1>
    </div>
    <div class="row grey-text">
        <p>For th7 and 8, the most common strategy used to ensure 3 stars is all drag, in combination with rage spells. Dragons are dropped in a line, and when they come under attack by air defense, rage is dropped to speed them up to destroy air defence more quickly. 
Some people like to use three lightning to destroy one air defense (target lightning exactly on the top of the air defense) as well, and after it is destroyed, drop a line of dragons.</p>

        <p>Another version of a drag attack called Dragon Ball, and is posted by Lannister imp: <a href="http://clashofclansbuilder.com/guides/view/1991">http://clashofclansbuilder.com/guides/view/1991</a></p>

        <p>Other strategies used are:</p>

        <ul>
            <li>Gowipe (golem, wizards and pekkas, described here <a href="https://www.youtube.com/watch?v=2Oy5OIgU2KY">https://www.youtube.com/watch?v=2Oy5OIgU2KY</a></li>
            <li>Gowiwi (Golem, wizards and witches) described here <a href="https://www.youtube.com/watch?v=VutyxYPFc-8">https://www.youtube.com/watch?v=VutyxYPFc-8</a></li>
        </ul>

        <p>Remember <strong>your goal is the 3 star</strong>. All archers will not get you three stars.</p>

        <p>If you use other troop mixes, it is important to consider luring the enemy’s CC troops out so that they can be killed off before they do significant damage to your troops. If their CC is located fairly close to the outer walls, attacking a nearby building with an archer should get them to come out.  After your archer is killed, keep dropping an archer further and further away from the CC until you get the enemy troops in the open, and away from defences. Drop about 25-30 archers in an arc or circle around the enemy troops to kill them.</p>
    </div>
{% endblock %}